* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #344a72;
  color: #fff;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.form-container {
  background-color: #fff;
  color: #000;
  padding: 15px 20px;
}

.form-container h1,
.form-container p {
  text-align: center;
}

.form-container .form-content {
  margin-top: 12px;
}

.form-container .form-content label {
  display: block;
}

.form-container .form-content input {
  width: 100%;
  padding: 10px;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background: #49c1a2;
  margin: 15px 0;
  border: none;
}

.form-container button:hover {
  background: #37a08e;
  cursor: pointer;
}

.form-container .bottom-text {
  font-size: 0.8rem;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: #49c1a2;
}